extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Luci Peterson

        p.lead.text-light
          | Software Developer

        .portfolio-bio
          p
            | Polyglot software development student and hobbyist based in Portland, Oregon, with knowledge of three major object-oriented programming languages, 20 years of amatuer web design experience, and 7 years of professional leadership experience seeking an apprenticeship or Jr. Software Developer position. 
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li CSS
          li HTML
          li Custom graphics and animation
          li Git
          li Back-end programming (Ruby, Python, JavaScript)
          li Server-side frameworks (Django, Flask, Express.js)
          li React.js
          li JQuery
          li Data analysis
          li Testing/TDD
          li Pug/Templating
        h6 Contact Info

        ul
          li 530-321-4218
          li lucijpeterson@gmail.com

        a.button.expanded(href='https://github.com/lucipeterson') GitHub

  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  